.register {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.register__container {
  width: 22rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 3rem;
  border-radius: 0.5rem;
}
.register input {
  padding: 1rem;
  font-size: 1rem;
}

.register div {
  margin-bottom: 0.7rem;
}

.invalid-feedback {
  line-height: 1.2rem;
  background: #08a8a8;
  color: #fff;
  font-size: 1.1rem;
}

.about-account {
  margin: 0.5rem;
  font-size: 1.1rem;
}
