.register {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.register__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 3rem;
  border-radius: 0.5rem;
}
.register__textBox {
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.register__google {
  background-color: #4285f4;
}
.register div {
  margin-top: 0.7rem;
}
