.wrapper-navbar {
  margin-top: 0.5rem;
  margin-right: 5rem;
  display: flex;
  gap: 0.2rem;
  justify-content: flex-end;
}

.wrapper-navbar button:disabled {
  background-color: rgba(112, 116, 116, 0.5);
  pointer-events: none;
}
