#root {
  color: rgb(9, 9, 9);
}

.page-wrapper {
  margin: auto;
  text-align: center;
}

button {
  padding: 0.5rem;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: #08a8a8;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
}

button:disabled {
  background-color: rgba(112, 116, 116, 0.5);
  pointer-events: none;
}

button:hover {
  background-color: #087676;
}

button:active {
  transform: scale(1.2);
  transition: all 0.4s;
}
